// HeroSection.scss
.hero-container {
  position: relative; 
  color: white; /* Set your desired text color */
  padding: 120px 60px; /* Adjust padding as needed */
  text-align: left;


  h1 {
    font-size: 3rem; /* Adjust the font size for the main heading */
    margin: 20px 0; /* Add margin to the top and bottom */
  }

  h2 {
    font-size: 2rem; /* Adjust the font size for the subheading */
    margin-bottom: 30px; /* Add margin to the bottom */
  }

  h3 {
    font-size: 1.5rem; /* Adjust the font size for the additional text */
  }
}
