// AboutMe.scss

.about-container {
    display: flex;
    background-color: #424769;
    background-image: url("../../assets/images/about1.jpg");
    background-size: cover;
    background-position: center;
    //opacity: 0.9;
    justify-content: center;
    color: white;
    width: 100vw;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: inherit;
      z-index: -1;
      filter: blur(px);
      opacity: 0.9;
    }  

  }
  
  .about-content {
    max-width: 800px;
    text-align: center;
    position: relative;
    margin-left: 700px;
    z-index: 2;
  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2rem;
      line-height: 1.6;
      margin-bottom: 15px;
      max-width: 600px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
          margin-bottom: 5px;
          font-size: 1rem;
    }

    @media only screen and (max-width: 1200px) {
      margin-left: 0;
      text-align: center;
      opacity: 0.9;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .about-container {
      padding: 70px 20px;
      align-items: center;
    }

    .about-content {
      h2 {
        font-size: 1.4rem;
      }

      p {
        font-size: 0.9rem;
        max-width: 400px;
      }

      li {
        font-size: 0.7rem;
      }
    }
  }