// AboutMe.scss

.about-container {
    background-color: #424769;
    padding: 80px 20px;
    height: 100vh;
    color: white;
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2rem;
      line-height: 1.6;
      margin-bottom: 15px;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
  