.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #676f9D;
    color: black;
}

.contact {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #002E59;
    text-align: center;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 16px;
    }
  
    p {
      margin-bottom: 24px;
    }
  }