.contact {
    text-align: center;
    padding: 40px;
    position: relative;
    background-color: #00415d;
    margin-top: 20px;
  
    h1 {
      font-size: 2rem;
      margin-bottom: 16px;
    }
  
    p {
      margin-bottom: 24px;
    }
  }