// Header.scss

.Header {
  background-color: #2d3250;
  color: white;
  padding: 1.3rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 5vh;

  .nav-container {
    margin-left: auto;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        margin-right: 3.2rem;

        a {
          text-decoration: none;
          color: white;
          font-weight: bold;
          transition: color 0.3s ease;
          font-size: 1.5rem;

          &:hover {
            color: #f9b17a;
          }
        }
      }
    }
  }
}
