// Footer.scss

.footer-container {
    background-color: black;
    color: white;
    padding: 60px;
    text-align: center;
  }
  
  .social-icons {
    font-size: 18px;
    margin-top: 20px;
  
    a {
      color: white;
      margin: 0 10px;
      text-decoration: none;
  
      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }
  
  .footer-info {
    margin-top: 20px;
  
    p {
      font-size: 14px;
      margin: 0;
      font-weight: bold;
      font-family: "Josefin Sans", sans-serif;
    }
  }
  