// Footer.scss

.footer-container {
    background-color: black;
    color: white;
    padding: 60px 0;
    text-align: center;
    height: 30vh;
    box-sizing: border-box;
    //width: 100vw;
    //position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .social-icons {
    font-size: 24px;
    margin-top: 20px;
  
    a {
      color: white;
      margin: 0 10px;
      text-decoration: none;
  
      &:hover {
        color: #f9b17a;
      }
    }
  }
  
  .footer-info {
    margin-top: 20px;
  
    p {
      font-size: 14px;
      margin: 0;
      font-weight: bold;
      font-family: "Josefin Sans", sans-serif;
    }
  }

@media only screen and (max-width: 768px) {
  .footer-container{
    height: 16vh;
    padding: 20px 0;
  }

  .social-icons{
    font-size: 18px;
    margin-top: 10px;
  }

  .footer-info{
    margin-top: 10px;

    p {
      font-size: 10px;
    }
  }
}  
  