/* App.scss */

$background-color: #00418d;
$secondary-text: #d9d9d9;
$general-text: #ffffff;
$triple-box: #ffd700;


body {
  background-color: #00418D;
  color: $general-text;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;/* Ensure the container takes at least the full viewport height */
}

.hero-container {
  flex: 1; /* Allow the home container to grow and take up remaining space */
}

